<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='main.css') }} "/>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Hospital Management System</title>
  </head>
  <body>
    <div class="p-3 mb-2 bg-primary text-white">
    <nav class="navbar navbar-dark bg-primary text-white">
      <h1 class="align-middle" style="text-align: left; padding-left: 20px; font-size: 60px; margin-left: 13.5%;" >ABC Hospital Management System</h1>

    </nav></div><br><br>
      <div class="container">
        <div class="row"></div>
        <div class="card-deck">
        <div class="card">

          <div class="card-body text-center">
            <h5 class="card-title">Registration/Admission desk executive</h5>

          <a href='login1' style="padding:8px 12px 8px 12px ; background-color: rgb(17, 162, 170); text-decoration: none; color: white; border-radius: 4px;">Login</a>
          </div>
        </div>

        <div class="card">

          <div class="card-body text-center">
            <h5 class="card-title">Pharmacist</h5>

            <a href='login2' style="padding:8px 12px 8px 12px ; background-color: rgb(17, 162, 170); text-decoration: none; color: white; border-radius: 4px;">Login</a>
        </div>
        </div>

        <div class="card">

          <div class="card-body text-center">
            <h5 class="card-title">Diagnostic services <br> executive
            </h5>
            
            <a href='login3' style="padding:8px 12px 8px 12px ; background-color: rgb(17, 162, 170); text-decoration: none; color: white; border-radius: 4px;">Login</a>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
